.shop-container{
    width: 1440px;
    display: grid;
    grid-template-columns: 1140px 300px;
    margin: 0 auto;
}
.product-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 45px;
    justify-content: space-evenly;
    margin-top: 50px;
}
.cart-container{
    background: rgba(255, 153, 0, 0.3);
    /* position: sticky; */
}
.cart-container h1{
    color: rgba(28, 43, 53, 1);
    text-align: center;
}